html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

:root {
  --green: #0ABC5C;
  --light-green: rgba(10, 185, 95, 0.2);
  --dark: #242424;
  --dark-blue: #000a14;
  --light-blue: rgb(0, 10, 20, .7);
  --black: #1e1e1e;
  --white: #fff;
  --grey: #A4A4A4;
  --light-grey: #C4C4C4;
  /* --dark- */
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input, 
textarea {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border: none;
}

html, 
body {
  height: 100%;
}

body {
  min-height: 100vh;
  background: var(--dark-blue);
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 80px 0;
}
.container {
  text-align: left;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

h1 {
  font-size: 3.125rem;
  line-height: 1.05;
}
h2 {
  font-size: 1.975rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.85rem;
  line-height: 1.18;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.21;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.25;
}
.hidden {
  overflow: hidden;
  position: relative;
}
.hidden:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000a8;
  z-index: 4;
}
.subtitle {
  text-transform: uppercase;
  color: var(--green);
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
}
.title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 60px;
  line-height: 0.85;
  text-align: center;
}
.heading {
  position: relative;
  padding-left: 10px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.heading:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 2px;
  height: 26px;
  background: var(--green);
}
.subheading {
  font-size: 1.125rem;
  line-height: 1.3;
}
.caption {
  font-size: 1.2rem;
  line-height: 1.1;
}
.text {
  font-size: 1.15rem;
  line-height: 1.2;
  margin-bottom: 10px;
  color: var(--grey);
  font-weight: 300;
}
.light {
  color: var(--grey);
  font-weight: 300;
}
.bold {
  font-weight: 500;
  color: var(--green);
}
.link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.3px;
  line-height: 1.13;
  padding-bottom: 3px;
  position: relative;
  cursor: pointer;
  transition: 0.35s;
}
.link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--green);
  transition: 0.35s;
}
.link:hover {
  color: var(--green);
}
.link:hover:after {
  width: 100%;
}
.button {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.3px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 2px;
  background: var(--green);
  border: 1px solid transparent;
  color: var(--dark);
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.25s, box-shadow 0.15s, all 0.35s;
}
.button.button_secondary {
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
}
.button:not(.button_secondary):after {
  content: '';
  background: #fff;
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}
.button.button_secondary:hover {
  background: var(--light-green);
}
.button:hover:after {
 left: 110%;
}
.button:active {
  transform: scale(0.965);
}
.button:hover {
  box-shadow: 2px 2px 5px 0px #000000ba;
}
.list {
  text-align: left;
  margin: 20px 0;
}
.list__item {
  position: relative;
  padding-left: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: baseline;
}
.list__item .caption,
.list__item .text {
  margin-bottom: 0;
}
.list__item span:first-child {
  margin-right: 5px;
}
.list__item:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--green);
}
.list.without-dots .list__item {
  padding-left: 0;
}
.list.without-dots .list__item:before {
  content: none;
}
.list__item .icon {
  margin-right: 10px;
}
.icon {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon svg {
  height: 100%;
  fill: var(--white);
  transition: 0.35s;
}
.icon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--green);
  transition: 0.35s;
}
.list__item:hover .icon:after,
.icon.active:after,
.icon:hover:after {
  transform: rotate(45deg);
}
.list__item:hover .icon svg,
/* .icon.active svg, */
.icon:hover svg {
  fill: var(--green);
}
.color {
  transition: border 0.35s ease-out, color 0.35s ease-out, fill 0.35s ease-out, background 0.35s ease-out !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-3, 
.col-4, 
.col-5, 
.col-6, 
.col-7, 
.col-8, 
.col-12 {
  padding-right: 15px;
  padding-left: 15px;
}


.page-enter-active, .page-leave-active {
  transition: 0.25s;
  opacity: 0;
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h5 {
    font-size: 2.05rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .caption {
    font-size: 1.55rem;
  }
  .button, .link, .text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: calc(0.875vw + 1.95rem);
  }
  h2 {
    font-size: calc(0.625vw + 1.4rem);
  }
  h3 {
    font-size: calc(0.375vw + 1.35rem);
  }
  h4 {
    font-size: calc(0.25vw + 1.25rem);
  }
  h5 {
    font-size: calc(0.25vw + 1.2rem);
  }
  .text {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .subheading  {
    font-size: calc(0.125vw + 1rem);
  }
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-4, 
  .col-5, 
  .col-6, 
  .col-7, 
  .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section {
    padding: 50px 0;
  }
  .heading {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 40px;
  }
  .button {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}